.Rproj.user
.Rhistory
.RData
.Ruserdata
project2/*.csv
project2/data/*.csv
.DS_Store
.Rhistory
.RData
project2/*.csv
project2/data/*.csv
.DS_Store
.Rhistory
.RData
project2/*.csv
project2/data/*.csv
.DS_Store
.Rhistory
.RData
